@charset "utf-8";
/* CSS Document */

h1
{
color:#000000;
font-family:"Times New Roman", Times, serif;
-moz-animation-duration: 3s;
-moz-animation-name: slidein;
-moz-animation-iteration-count: infinite;
}

}


h2
{
font-family:"Times New Roman", Times, serif;
text-transform:uppercase;
color:#000000;
}

a 
{
color:#0033CC;
text-decoration:none;
font-weight:bold;
}

a:hover {color:#FF9900; text-decoration:underline;}
a.two:hover {text-decoration:none;color:#000000;}

a.two
{
color:#000000;
}
